# -*- cfg -*-
[flake8]
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
exclude = .git, .venv, docs/conf.py
ignore =
    E722 ; do not use bare 'except'
    E741 ; ambiguous variable name
    W503 ; line break before binary operator -- conflicts with black formatting
max-complexity = 30
max-line-length = 160
show-source = true
pytest-fixture-no-parentheses = true
