# -*- cfg -*-
[flake8]
exclude = .git, .venv, docs/conf.py
ignore =
    E722 ; do not use bare 'except'
    E741 ; ambiguous variable name
    W503 ; line break before binary operator -- conflicts with black formatting
max-complexity = 30
max-line-length = 160
show-source = true
pytest-fixture-no-parentheses = true
