name: CI

on:
  push:
    paths:
      - ".github/workflows/ci.yml"
      - "sphinxarg/**"
      - "test/**"
  pull_request:
    paths:
      - ".github/workflows/ci.yml"
      - "sphinxarg/**"
      - "test/**"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Check Python version
        run: python --version --version
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[test] pytest-cov
      - name: Test with pytest
        run: >
          python -m pytest
          -vv
          --cov . --cov-append --cov-config pyproject.toml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          flags: unittests
